<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wormchaos.dao.SnailMapper">
    <resultMap id="getMap" type="com.wormchaos.entity.Snail"/>

    <select id="findByUserId" parameterType="Long" resultMap="getMap">
        SELECT * FROM t_snail WHERE user_id = #{userId} limit 1
    </select>

    <update id="updateInfo" parameterType="com.wormchaos.entity.Snail" >
        update t_snail set nickname = #{nickname}, `arm_force` = #{armForce} where user_id = #{userId}
    </update>

    <select id="rankByGroupId" parameterType="Integer" resultMap="getMap">
        select id, user_id, nickname, arm_force from t_snail where group_id = #{groupId} order by arm_force desc
    </select>

    <update id="bindSnail" parameterType="Long">
        update t_snail set user_id = #{userId} where id = #{bindId} and user_id is NULL
    </update>

    <select id="getRankByForce" parameterType="Long" resultType="Integer">
        select count(1) + 1 from t_snail where `arm_force` > (
          select `arm_force` from t_snail where user_id = #{userId}
        ) and user_id is not null
    </select>


</mapper>
